<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Text search</title>
  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body class="bg-gray-700">
  <a href="/">
    <div class="m-8 cursor-pointer">
      <span class="text-xl text-white hover:underline">Home</span>
    </div>
  </a>
  <div class="main container mx-auto h-screen">{% block content %}{% endblock %}</div>
</body>

</html>